<head>

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/heroic-features.css" rel="stylesheet">

</head>

<body class="dashboard-body">

  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" id="button-logout">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <span class="navbar-brand mega-octicon octicon-flame"></span><a class="navbar-brand" href="/">StockWatcher</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <li id="logout-link">
                      <%= link_to "Logout", logout_path, method: :delete %>
                  </li>
              </ul>
          </div>
      </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <h3><span id="welcome-message"><%= image_tag current_user.image_url, class: "img-thumbnail-index" %>&nbsp Welcome, <%=current_user.name %></span></h3>

      <!-- Jumbotron Header -->
      <header class="jumbotron hero-spacer">
        <h1 id="jumbo-text">Welcome to <span id="stockwatcher-title">StockWatcher</span></h1>
        <p>
          StockWatcher lets you add your favorite stocks to your watchlist and track them with ease
        </p>
      </header>

      <div class="new-stock-button">
        <%= button_to "Add a new stock", new_stock_path, method: :get %>
      </div>

      <hr>

      <!-- Title -->
      <div class="row">
          <div class="col-lg-12">
              <h2 id="your-watchlist">Your Watchlist</h2>
          </div>
      </div>

      <!-- Page Features -->
      <div class="row text-center">
        <% @stock_array.each do |id, stock_data| %>
          <div class="col-md-6 col-sm-12 hero-feature">
              <div class="thumbnail" id="profile-rep-box">
                  <div class="caption">
                    <h3 id="key-stats-title"><%= link_to stock_data[:Name], stock_path(id) %></h3>
                  </div>
                  <div class="caption", id="box-data">
                    <h4 class="name "> Name: <%= stock_data[:Name] %></h4>
                    <h4 class="symbol"> Symbol: <%= stock_data[:Symbol] %></h4>
                    <h4 class="lastprice"> Last price: <%= stock_data[:LastPrice] %></h4>
                    <h4 class="change"> Change: <%= stock_data[:Change] %></h4>
                    <h4 class="changepercent"> Change (%): <%= stock_data[:ChangePercent] %></h4>
                    <h4 class="trendanalysis"> Trend analysis: HOT</h4>
                  </div>
              </div>
          </div>
        <% end %>
      </div>

      <hr>


      <!-- Footer -->
      <footer>
          <div class="row">
              <div class="col-lg-12">
                  <p>Copyright &copy; 2015 StockWatcher, Inc.</p>
              </div>
          </div>
      </footer>

  </div>

  <!-- jQuery -->
  <script src="js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>

</body>
