<head>

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/heroic-features.css" rel="stylesheet">

</head>

<body class="dashboard-body">

  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" id="button-logout">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <span class="navbar-brand mega-octicon octicon-flame"></span><a class="navbar-brand" href="/">StockWatcher</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <li>
                      <%= link_to "Logout", logout_path, method: :delete %>
                  </li>
                  <li>
                      <%= link_to "Back to Watchlist", stocks_path %>
                  </li>
              </ul>
          </div>
      </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
      <!-- Title -->
      <div class="row">
          <div class="col-lg-12", id="show-title">
              <h2 id="stock-show-title"><%= @stock.name %></h2>
          </div>
      </div><br>

      <p>
        <strong>Time data last updated: <%= Time.parse(@stock.timestamp).strftime('%A, %d %b %Y %l:%M %p') %></strong>
      </p>

      <div class="update-button">
        <%= button_to "Update data", stock_path(@stock.id), method: :put %>
      </div>

      <br><div class="update-delete-buttons">
        <div class="delete-button">
          <%= button_to "Remove from watchlist", stock_path(@stock.id), method: :delete %>
        </div>&nbsp

        <div class="purchase-stock-button">
          <%= button_to "Add to purchased stocks", new_user_stock_path, method: :get %>
        </div>&nbsp&nbsp&nbsp

        <div class="add-another-stock-button">
          <%= button_to "Add another stock", new_stock_path, method: :get %>
        </div>
      </div>

      <hr>

      <!-- Page Features -->
      <div class="row text-center">
          <div class="col-lg-8 hero-feature" id="price-graph-box">
              <div class="thumbnail graph-placeholder">
                  <div class="caption">
                      <h3 id="key-stats-title">Intra-Day Price History</h3>
                  </div>

                  <div class="price-graph">
                    <%= image_tag "http://chart.finance.yahoo.com/t?s=#{@stock.ticker}&lang=en-US&region=US&width=700&height=420", class: "stock-price-graph" %>
                  </div>
              </div>
          </div>
      </div>

      <div class="row text-center">
          <div class="col-lg-8 hero-feature trading">
              <div class="thumbnail" id="key-trading-statistics">
                  <div class="caption show">
                      <h3 id="key-stats-title">Key Trading Statistics</h3>
                  </div>

                  <div id="show-page-data">
                      <h4> <span class="high"> High: </span> <%= number_to_currency(@stock.high) %></h4>
                      <h4> <span class="low"> Low: </span> <%= number_to_currency(@stock.low) %></h4>
                      <h4> <span class="open"> Open: </span> <%= number_to_currency(@stock.open) %></h4>
                      <h4> <span class="marketcap"> Market capitalization: </span> $<%= number_to_human(@stock.market_cap, precision: 4) %> </h4>
                      <h4> <span class="volume"> Volume: </span> <%= number_with_delimiter(@stock.volume) %></h4>
                  </div>

              </div>
          </div>
      </div>

      <div class="row text-center">
          <div class="col-lg-8 hero-feature" id="show-box">
              <div class="thumbnail" id="trend-analysis-detail">
                  <div class="caption show">
                      <h3 id="key-stats-title">Trend Analysis Details</h3>
                  </div>
                  <div id="show-page-trend-data">
                      <h4> <span class="changeytd"> Price at beginning of year: </span> <%= number_to_currency(@stock.start_value_ytd) %></h4>
                      <h4> <span class="changepercentytd"> Change year-to-date (%): </span> <%= number_to_percentage(@stock.change_ytd, precision: 2) %></h4>
                  </div>
              </div>
          </div>
      </div>


  <!-- jQuery -->
  <script src="js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>

</body>
